.description {
  padding: fluid-size(80, 120) fluid-size(40, 125);

  &__inner {
    display: flex;
    flex-direction: column;
    gap: fluid-size(40, 60);
  }

  &__title {
    font-size: fluid-size(24, 48);
    line-height: 130%;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: fluid-size(20, 30);
    max-width: fluid-size(700, 1200);
  }

  &__text {
    font-size: fluid-size(14, 18);
    line-height: 150%;
  }
}
