.experts {
  border-top-left-radius: fluid-size(44, 77);
  border-top-right-radius: fluid-size(44, 77);
  margin-top: -100px;
  background: var(--color-bg-white);

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  fluid-size(135, 265) fluid-size(20, 203) fluid-size(125, 150);
  }

  &__title {
    font-weight: 400;
    max-width: fluid-size(375, 1515);
    margin-bottom: 35px;
    color: var(--color-title-black);
  }

  &__subtitle {
    text-align: center;
    margin-bottom: fluid-size(20, 30);
    color: var(--color-text-black);
  }

  &__texts{
    margin-bottom: fluid-size(70, 50);
    display: flex;
    flex-direction: column;
    gap: fluid-size(13, 20);
  }

  &__message {
    font-size: fluid-size(12, 20);
    line-height: 180%;
    text-align: center;
    max-width: fluid-size(336, 757);
    color: var(--color-text-black);
  }
}