.services {
  position: relative;
  width: 100%;

  &__inner {
    position: relative;
    padding: fluid-size(100, 200) fluid-size(20, 125) fluid-size(62, 150);
    display: flex;
    flex-direction: column;
  }

  &__hero {
    display: flex;
    flex-direction: column;
    gap: fluid-size(21, 40);
    margin-top: fluid-size(100, 250);

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      gap: fluid-size(-100, 343);
    }
  }

  &__heroContent {
    display: flex;
    flex-direction: column;
    gap: fluid-size(20, 40);
  }

  &__title {
    font-size: fluid-size(16, 36);
    font-weight: 700;
    line-height: 137%;
    text-transform: uppercase;
    color: var(--color-text-white);
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: fluid-size(15, 20);

    p {
      font-size: fluid-size(12, 20);
      line-height: 142.5%;
      color: var(--color-text-white);
      opacity: 0.8;
    }
  }

  &__navigation {
    display: grid;
    grid-template-columns: 1fr;
    gap: fluid-size(10, 15);
    align-self: flex-start;
    width: 100%;

    @media (min-width: 768px) {
      align-self: flex-end;
      min-width: 280px;
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(2, minmax(10, 368px));
    }
  }

  &__navLink {
    display: flex;
    align-items: center;
    gap: 48px;
    text-decoration: none;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__navNumber {
    font-size: fluid-size(16, 36);
    font-weight: 400;
    line-height: 137%;
    color: var(--color-text-white);
  }

  &__navText {
    font-size: fluid-size(16, 20);
    font-weight: 400;
    line-height: 137%;
    text-transform: uppercase;
    color: var(--color-text-white);
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    padding-right: fluid-size(0, 225);
    gap: fluid-size(151, 364);
    padding-top: fluid-size(62, 231);
    padding-bottom: fluid-size(0, 81);
  }

  &__categoryImage {
    width: 100%;
    height: fluid-size(268, 679);
    background: #4a4a4a;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: fluid-size(30, 120);
  }

  &__textContent {
    display: flex;
    flex-direction: column;
    width: fluid-size(349, 574);
    gap: fluid-size(13, 30);
    margin-top: fluid-size(13, 30);
  }

  &__textParagraph {
    font-size: fluid-size(12, 20);
    line-height: 142.5%;
    color: var(--color-text-white);
    opacity: 0.8;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: fluid-size(13, 20);
    padding-left: fluid-size(20, 30);
  }

  &__listItem {
    font-size: fluid-size(12, 20);
    line-height: 142.5%;
    color: var(--color-text-white);
    opacity: 0.8;
    list-style-type: disc;
  }

  &__h2 {
    font-size: fluid-size(14, 24);
    font-weight: 700;
    line-height: 137%;
    text-transform: uppercase;
    color: var(--color-text-white);
    margin-top: fluid-size(13, 30);
  }

  &__h3 {
    font-size: fluid-size(12, 20);
    font-weight: 700;
    line-height: 137%;
    text-transform: uppercase;
    color: var(--color-text-white);
    margin-top: fluid-size(10, 20);
  }
}
