.projects {
  padding: 0 fluid-size(20, 45) fluid-size(210, 360);

  @include media-up(xxl) {
    margin-bottom: -100px;  
  }

  @include media-between(md, xxl) {
    margin-bottom: -80px;  
  }

  @include media-down(md) {
    margin-bottom: -50px;  
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;

    @include media-up(lg) {
      max-width: 60%;
      gap: 20px;
      margin-bottom: 30px;
    }

    @include media-down(lg) {
      margin-bottom: 100px;
      row-gap: 11px;
      column-gap: 13px;
    }
  }

  &__list {
    @include media-up(lg) {
      display: flex;
      justify-content: center;
      gap: fluid-size(25, 40);
    }

    @include media-down(lg) {
      max-width: 600px;
       margin: 0 auto;
      display: grid;
      gap: fluid-size(10, 40);
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__column {
    @include media-up(lg) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: fluid-size(20, 35); 

      &--1 {
        margin-top: fluid-size(calc(440 / 3), 440); 
      }

      &--2 {
        margin-top: fluid-size(calc(195 / 3), 195);
      }
    }
  }

  &__card {
    transition: 0.3s;
    &:hover {
      transform: scale(110%);
    }

    @include media-up('lg') {
      width: fluid-size(calc(440 / 3), 440); 
      height: fluid-size(calc(600 / 3), 600);
      box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.3);
    }

    @include media-down('lg') {
      width: 100%;
      aspect-ratio: 3.4 / 5;
    }
  }
}