.details {
  padding: fluid-size(90, 120) 0 fluid-size(90, 280);

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__description {
    padding: 0 30px;
    text-align: center;
    max-width: fluid-size(400, 1270);
    font-size: fluid-size(12, 20);
    line-height: 200%;
    color: var(--color-text-black);

    p {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0.5em;
    }

    ul, ol {
      text-align: left;
      margin-bottom: 1em;
      padding-left: 1.5em;
    }

    strong {
      font-weight: 600;
    }

    em {
      font-style: italic;
    }

    code {
      background-color: rgba(0, 0, 0, 0.05);
      padding: 0.2em 0.4em;
      border-radius: 3px;
      font-family: monospace;
    }

    blockquote {
      border-left: 3px solid var(--color-text-black);
      padding-left: 1em;
      margin: 1em 0;
      font-style: italic;
    }
  }
}