.section {
  position: relative;
  overflow: hidden;

  &--black {
    background: #000;
  }

  &--rounded {
    border-top-left-radius: fluid-size(44, 77);
    border-top-right-radius: fluid-size(44, 77);
    z-index: 1;
  }

  &--shift {
    @include media-up(xxl) {
      margin-bottom: -100px;
    }

    @include media-between(md, xxl) {
      margin-bottom: -80px;
    }

    @include media-down(md) {
      margin-bottom: -50px;
    }
  }
}