.details {
  padding: fluid-size(80, 120) fluid-size(40, 125);

  &__inner {
    display: flex;
    flex-direction: column;
    gap: fluid-size(30, 50);
    max-width: 1200px;
    margin: 0 auto;
  }

  &__title {
    font-size: fluid-size(24, 48);
    line-height: 130%;
    text-transform: uppercase;
  }

  &__text {
    font-size: fluid-size(14, 18);
    line-height: 160%;
  }
}
