.header {
  position: absolute;
  z-index: 10;
  width: 100%;

  @include media-up(md) {
    height: fluid-size(120, 145);
  }

  @include media-down(md) {
    height: 95px;
  }

  &--light {
    .header {
      &__logo,
      &__nav_link {
        color: var(--color-text-black);
      }
    }
  }

  &--dark {
    .header__logo {
        color: var(--color-text-white);
      }

    .header__button {
        background: var(--color-btn-primary);
      }

    .header__nav_link {
      @include media-up(md) {
        color: var(--color-text-white);
      }

      @include media-down(md) {
        color: var(--color-text-black);
      }
    }

    &.header--menu-open {
      .header__logo {
        color: var(--color-text-black);
      }
    }
  }

  &--light:not(.header--has-bg-image) {
    .header__button {
      background: var(--color-btn-primary);
    }
  }

  &__inner {
    position: relative;
    height: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: fluid-size(20, 45) fluid-size(15, 45);
  }

  &__logo {
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    transition: 0.3s;

    @include media-up(md) {
      font-size: fluid-size(20, 32);
    }

    @include media-down(md) {
      font-size: 32px;
    }
  }

  &__menu {
    display: flex;

    @include media-up(md) {
      gap: fluid-size(15, 63);
      align-items: center;
    }

    @include media-down(md) {
      transition: left 0.5s;
      padding-top: 160px;
      position: absolute;
      z-index: -1;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100vh;
      background: white;

      &--open {
        left: 0;
      }
    }
  }

  &__nav {
    display: flex;

    @include media-up(md) {
      align-items: center;
      gap: fluid-size(20, 75);
    }

    @include media-down(md) {
      padding: 20px;
      flex-direction: column;
      width: 100%;
      gap: 52px;
    }
  }

  &__nav_item {
    position: relative;
    list-style: none;
  }

  &__nav_link {
    line-height: 120%;

    @include media-up(md) {
      font-size: fluid-size(14, 20); 
    }

    @include media-down(md) {
      text-transform: uppercase;
      font-size: 20px;
    }
  }

  &__button {
    @include media-up(md) {
      height: 52px !important;

      & > span {
        text-transform: capitalize !important;
      }
    }

    @include media-down(md) {
      display: none !important;
    }
  }

  &__burger {
    @include media-up(md) {
      display: none;
    }
  }
}